a.button.button-primary.get{
	background: #ff5c3f !important;
}
thead.table-book,a.button.button-primary.solo {
    background: #ff5c3f !important;
		color: #fff !important;
}
a.button.button-primary.get:hover{
	color: #fff !important;
}
